<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="azimuth_thruster">
    <xacro:macro name="main_thruster" params="prefix position:='0 0 0' orientation:='0 0 0'">
        <link name="${prefix}_thruster_link"></link>
        <joint name="${prefix}_thruster_joint" type="fixed">
            <origin xyz="${position}" rpy="${orientation}" />
            <parent link="${prefix}_azimuth_link" />
            <child link="${prefix}_thruster_link" />
        </joint>
    </xacro:macro>
</robot>