<?xml version="1.0"?>
<robot name="thruster" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

    <xacro:macro name="thruster" params="enable_dummy thruster_ip_address='192.168.10.100' thruster_port=12345">
        <xacro:include filename="$(find wamv_description)/urdf/thrusters/azimuth_thruster.xacro" />
        <xacro:azimuth_thruster prefix="right" position="-0.51 -0.17 -0.17" orientation="0 0 0" />
        <xacro:azimuth_thruster prefix="left" position="-0.51 0.17 -0.17" orientation="0 0 0" />

        <xacro:include filename="$(find wamv_description)/urdf/thrusters/main_thruster.xacro" />
        <xacro:main_thruster prefix="right" position="0.0 0.0 -0.05" orientation="0 0 3.14159265359" />
        <xacro:main_thruster prefix="left" position="0.0 0.0 -0.05" orientation="0 0 3.14159265359" />

        <xacro:include filename="$(find wamv_description)/urdf/miniv.ros2_control.xacro" />
        <xacro:azimuth_thruster_control left_joint="left_azimuth_joint" right_joint="right_azimuth_joint" enable_dummy="${enable_dummy}" />

        <xacro:main_thruster_control enable_dummy="${enable_dummy}" ip_address="${thruster_ip_address}" port="${thruster_port}" left_thruster_joint="left_thruster_joint" right_thruster_joint="right_thruster_joint" />
    </xacro:macro>
</robot>