<robot xmlns:xacro="http://ros.org/wiki/xacro" name="engine">
    <xacro:macro name="engine_control" params="ip_address port chasis_engine_joint engine_propeller_joint enable_dummy">
        <ros2_control name="engine_control" type="system">
            <hardware>
                <plugin>wamv_control/WamVHardware</plugin>
                <param name="ip_address">${ip_address}</param>
                <param name="port">${port}</param>
                <param name="timeout_seconds">10.0</param>
                <param name="chasis_engine_joint">${chasis_engine_joint}</param>
                <param name="engine_propeller_joint">${engine_propeller_joint}</param>
                <param name="enable_dummy">${enable_dummy}</param>
            </hardware>
        </ros2_control>
    </xacro:macro>
</robot>