<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">
  <xacro:include filename="$(find wamv_description)/urdf/wamv_base.urdf.xacro"/>

  <xacro:include filename="$(find wamv_description)/urdf/cpu_cases.xacro"/>
  <xacro:cpu_cases position="-0.15 0 1.53" orientation="0 0 0"/>

  <xacro:include filename="$(find wamv_description)/urdf/battery.xacro"/>
  <xacro:battery prefix="left" position="0 1 0.45" orientation="0 0 0"/>
  <xacro:battery prefix="right" position="0 -1 0.45" orientation="0 0 0"/>

  <xacro:include filename="$(find wamv_description)/urdf/thrusters/engine.xacro" />
  <xacro:engine prefix="left" position="-2.373776 1.027135 0.318237" />
  <xacro:engine prefix="right" position="-2.373776 -1.027135 0.318237" />

  <xacro:include filename="$(find wamv_description)/urdf/sensors/lidar.xacro"/>
  <xacro:lidar prefix="front" position="1.0 0 1.2" orientation="0 0 0"/>
  <xacro:lidar prefix="rear" position="-1.0 0 1.2" orientation="0 0 3.14159"/>
  <xacro:lidar prefix="right" position="0.0 -0.6 1.2" orientation="0 0.5235983333333333 -1.570795"/>
  <xacro:lidar prefix="left" position="0.0 0.6 1.2" orientation="0 0.5235983333333333 1.570795"/>

  <xacro:include filename="$(find wamv_description)/urdf/sensors/camera.xacro"/>
  <xacro:camera prefix="front_left" position="2.0 0.1 1.0" orientation="0 0 0.785398"/>
  <xacro:camera prefix="front_right" position="2.0 -0.1 1.0" orientation="0 0 -0.785398"/>
  <xacro:camera prefix="rear_left" position="-1.0 0.1 1.0" orientation="0 0 2.35619"/>
  <xacro:camera prefix="rear_right" position="-1.0 -0.1 1.0" orientation="0 0 -2.35619"/>
  <xacro:camera prefix="left" position="0.0 -0.6 1.2" orientation="0 0.0 -1.570795"/>
  <xacro:camera prefix="right" position="0.0 0.6 1.2" orientation="0 0.0 1.570795"/>
</robot>